

body{
    background-color: silver;
}

.summary{
    margin-top: 20px;
    background-color: whitesmoke;
    padding: 10px;
}

nav, .catBtn_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

nav{
    padding: 5px 20px;
}

.catBtn_container{
    padding: 10px 20px;
}

.navBtn{
    width: 125px;
    height: 20px;
    border-radius: 5px;
    background-color: silver;
    box-shadow: 0px 0px 5px black;
    color: black;
    font-size: 12px;
   /* margin-bottom: 5px;*/
}

.catBtn{
    width: 125px;
    height: 75px;
    border-radius: 5px;
    background-color: silver;
    box-shadow: 0px 0px 10px black;
    color: black;
    font-size: 22px;
    margin-bottom: 5px;
}

.catBtn:hover{
    color: yellow;
    
}

#notesBtn8, #exercisesBtn8, #questionsBtn8 {
    transform: scale(2) rotate(10deg);
}

header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}
 
h1{
    color: white;
    font-size: 3em;
}

h2{
    color: black;
    font-size: 3em;
    padding-left: 20px;
}

h3{
    color: white;
    background-color: black;
    font-size: 1.1em;
    padding: 10px;
    letter-spacing: 2px;
}

h4{
    font-size: 1.1em;
    margin-bottom: 0;
}

h5{
    color: red;
}

li{
    margin-left: 20px;
}

section{
    margin-top: 10px;
    margin-bottom: 10px;
}

.sectionContent{
    background-color: whitesmoke;
    padding: 20px;
}


/**** Home Page Styling ****/
#aboutMe{
    background-color: lightgray;
}

.aboutMe_p{
    text-align: left;
    font-size: 1.1em;
    line-height: 150%;
}

.container{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

 #profilePic_section{
    width: 350px;
}

#profilePic{
    width: 300px;
    margin-right: 10px;
}

#aboutMe{
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    text-align: center;
}

#github{
    width: 350px;
    background-color: black;
}

#github_h3{
    color: white;
    text-align: center;
    font-size: 1.3em;
}

#githubLogo_div{
    text-align: center;
}

#githubLogo{
    width: 200px;
    margin-left: 10px;
}

#githubLink_div{
    text-align: center;
    position: relative;
    bottom: 17.5px;
}

#github_link{
    color: #78eff5;  
}
/***********************/

/**** Week 1 Styling ****/
input{
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px lightblue inset;
    height: 25px;
    width: 200px;
    text-indent: 5px;
}

#note_div{
    margin: auto;
    text-align: center;
    width: 700px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    background-color: lightgray;
}

input:focus{
    outline: none;
    box-shadow: 0px 0px 5px rgb(235, 233, 164) inset;
}

textarea{
    width: 90%;
    height: 200px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px lightblue inset;
    text-indent: 5px;
    resize: none;
    overflow: scroll;
}

textarea:focus{
    outline: none;
    box-shadow: 0px 0px 5px rgb(235, 233, 164) inset;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.noteBtn{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(216, 225, 37);
    outline: none;
    box-shadow: 0px 0px 5px white inset;
    color: black;
    font-size: 18px;
    margin-bottom: 5px;
}

#saveNote{
    margin-left: 32px;
}

#hideNotes{
    margin-right: 32px;
}

/**** Week 2 Styling ****/
#eventListenerP{
    color: orange;
}

.exampleBtn{
    width: 200px;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(216, 225, 37);
    outline: none;
    box-shadow: 0px 0px 5px white inset;
    color: black;
    font-size: 12px;
    margin-bottom: 5px;
}

.error{
    display: none;
}

.check_radioInput{
    width: 30px;
    box-shadow: none;
}

.ageInput{
    width: 20px;
}

/** Week 8 CSS Exercises **/

#week8Transform:hover{
    display: inline-block;
    transform: translateY(40px);
}

#translate:hover {
    transform: translateX(100px);
}

.myCanvas{
    border: dotted blue 2px;
}

/** Week 9 Animation **/
#square {
    margin: 25px;
    width: 100px;
    height: 100px;
    background: red;
}

.exampleBtn9 {
    background-color: blue;
    color: white;
}

#bbPicDiv{
    text-align: center;
}