

header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

h1{
    color: white;
    font-size: 3em;
}

#aboutMe{
    background-color: lightgray;
}

h2{
    font-size: 2em;
}

.aboutMe_p{
    text-align: left;
    font-size: 1.1em;
    line-height: 150%;
}

.container{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

 #profilePic_section{
    width: 350px;
}

#profilePic{
    width: 300px;
    margin-right: 10px;
}

#aboutMe{
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    text-align: center;
}


#github{
    width: 350px;
    background-color: black;
}

#github_h3{
    color: white;
    text-align: center;
    font-size: 1.3em;
}

#githubLogo_div{
    text-align: center;
}

#githubLogo{
    width: 200px;
    margin-left: 10px;
}

#githubLink_div{
    text-align: center;
    position: relative;
    bottom: 17.5px;
}

#github_link{
    color: #78eff5;  
}

li{
    font-size: 1.2em;
}